---
import ElementH2 from "../ui/ElementH2.astro";
import ElementP from "../ui/ElementP.astro";

import { educationSection } from "../../data/siteConfig";
import Timeline from "./timeLine/Timeline";
import { CoursesFaqs } from "./cursos/CoursesFaqs";
import ElementH3 from "../ui/ElementH3.astro";
const { education } = educationSection;
---

<section
  class="flex justify-center items-center gap-5 mx-auto xl:max-w-[1280px] w-full flex-col sm:px-16 px-6 sm:pb-16 xs:pb-8 pb-12 sm:pt-6 mt-[40px] overflow-x-hidden"
  id="education-section"
>
  <ElementH2 mainTitle={educationSection.title} textGradient />
  <ElementP description={educationSection.description} />
  <br />
  <ElementH3 title="Títulos" education />
  <Timeline data={education} client:visible />
  <br />
  <ElementH3 title="Cursos" education />
  <CoursesFaqs client:visible />
</section>
