#selector-time-line li {
  transition: all 0.3s ease-in-out;
  padding: 5px 5px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
#selector-time-line li::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  right: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  z-index: 1;
  --tw-bg-opacity: 1;
  background-color: rgb(202 138 4 / var(--tw-bg-opacity));
}
.time-line-active::before {
  --tw-bg-opacity: 1;
  background-color: rgb(3 7 18 / var(--tw-bg-opacity)) !important;
  border: 1px solid #ca8a04;
  border-radius: 50%;
}
.selected {
  display: block;
}
#selector-content li {
  margin: 0 auto;
  max-width: 768px;
}
